# .baks
*.bak

# Ignore venv except for requirements.txt
venv/*
!venv/requirements.txt

# eBird token
ebird_token.txt

# Gmail tokens
gmail/*.json

# pycache
__pycache__

# ebird test files
ebird/*_test*
