# Error file
error.txt

# .baks
*.bak

# Ignore venv except for requirements.txt
venv/*
!venv/requirements.txt

# eBird things
bird/ebird_token.txt
bird/ebird/*_test*

# Gmail things
bird/gmail/*.json

# service things
bird/service/ebird_token.txt
bird/service/mailing_list.json

# pycache
__pycache__
